AI Enabled Helpdesk with Supabase and JIRA/AI Enabled Helpdesk with Supabase and JIRA.json
{
  "name": "AI Enabled Helpdesk with Supabase and JIRA",
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "app_mention",
          "message",
          "reaction_added"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0963H18JCX",
          "mode": "list",
          "cachedResultName": "all-mytest2025"
        },
        "options": {
          "resolveIds": true
        }
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        -2960,
        -496
      ],
      "id": "10e60c11-144e-4ab1-ae6c-08fc81cef3fc",
      "name": "Slack Trigger",
      "webhookId": "5d3fa63f-ef0a-48f1-9550-d95e527fba61",
      "credentials": {
        "slackApi": {
          "id": "TjO2nAExXHrUpUIC",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1e2d6aa6-cd50-4a77-9efb-e56066fe46ee",
              "leftValue": "={{ $json.type }}",
              "rightValue": "message",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "79dd2304-0b01-4063-a80d-bae909294108",
              "leftValue": "={{ $json.thread_ts }}",
              "rightValue": "app_mention",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "bd1624bc-fda9-4c4c-a905-4f127204f93e",
              "leftValue": "={{ $json.is_bot }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2288,
        -480
      ],
      "id": "21769805-9cd6-4b47-a106-e723c0f08e79",
      "name": "If1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $item(\"0\").$node[\"Slack Trigger\"].json[\"channel\"] }}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "thread_ts": {
            "replyValues": {
              "thread_ts": "={{ $item(\"0\").$node[\"Format Output\"].json[\"thread_ts\"] || $item(\"0\").$node[\"Format Output\"].json[\"ts\"] }}"
            }
          }
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -1264,
        -864
      ],
      "id": "5e169620-94fd-49d1-98ca-bad8f0c5e388",
      "name": "Send a message",
      "webhookId": "a840217b-6faa-474a-9cc5-21bcbb9c8db8",
      "credentials": {
        "slackApi": {
          "id": "TjO2nAExXHrUpUIC",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.session_id }}",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1664,
        -608
      ],
      "id": "89ddaca8-d550-4b4c-a9d6-e26dfe8e9cab",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "frequencyPenalty": 0,
          "presencePenalty": 0,
          "temperature": 0.7,
          "topP": 1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1872,
        -608
      ],
      "id": "b14bbdba-bcfb-4980-af39-811da479cc22",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PzzLblAykQPFIDZf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c1ec1ad-72f2-4bcd-bfef-dc12f49de48b",
              "name": "channel",
              "value": "={{ $json.channel || '' }}",
              "type": "string"
            },
            {
              "id": "af7e1d94-946c-4257-824e-a5d91a2b007a",
              "name": "ts",
              "value": "={{ $json.ts || '' }}",
              "type": "string"
            },
            {
              "id": "28583957-bddd-4bd2-b937-79b7554a7a65",
              "name": "thread_ts",
              "value": "={{ $json.thread_ts || '' }}",
              "type": "string"
            },
            {
              "id": "53179618-0ca1-43a2-a416-af8a39f792e0",
              "name": "type",
              "value": "={{ $json.type || '' }}",
              "type": "string"
            },
            {
              "id": "fbe15475-5924-41fa-a7b1-6017ae766a23",
              "name": "text",
              "value": "={{ $json.text || ($json.blocks && $json.blocks[0] && $json.blocks[0].elements && $json.blocks[0].elements[0] && $json.blocks[0].elements[0].elements && $json.blocks[0].elements[0].elements[1] ? $json.blocks[0].elements[0].elements[1].text : '') }}",
              "type": "string"
            },
            {
              "id": "49376ca5-079b-4993-9f15-6847734d9c5d",
              "name": "is_bot",
              "value": "={{ $json.bot_id ? true : false }}",
              "type": "boolean"
            },
            {
              "id": "b0ae1eed-7adf-49d2-b19d-0a1efdb5f435",
              "name": "user",
              "value": "={{ $json.user || '' }}",
              "type": "string"
            },
            {
              "id": "13fab869-b570-444d-903b-11d4b4f0ebe6",
              "name": "is_thread_continuation",
              "value": "={{ $json.thread_ts ? true : false }}",
              "type": "boolean"
            },
            {
              "id": "a148580e-6fe3-4689-be2f-7996c54f6118",
              "name": "session_id",
              "value": "={{ $json.thread_ts || $json.ts }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2752,
        -496
      ],
      "id": "85c3c69c-9910-4288-bc8d-2a53586b01d5",
      "name": "Format Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1c9327b8-9e92-404a-92e0-577874be46a8",
              "leftValue": "={{ $json.type }}",
              "rightValue": "app_mention",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f01f9beb-7bd2-4d2b-9d25-7746e8c12739",
              "leftValue": "={{ $json.is_bot }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2560,
        -496
      ],
      "id": "51365260-33da-44c8-bfdd-0fe857068f4c",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1968,
        -464
      ],
      "id": "68c09024-3b33-48b8-998c-468990f63fb6",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -2704,
        -1264
      ],
      "id": "035076b9-543f-407b-8614-1ef4646d6d76",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "pVNuKXPhuugvSPyq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2768,
        -1072
      ],
      "id": "e1e9b80e-2e2a-4d49-96a8-59d0fcb88020",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "PzzLblAykQPFIDZf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -2512,
        -1072
      ],
      "id": "013ffcc1-0b7b-4361-897e-547cbfc70341",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "content": "# Document Ingestion Flow (RAG Pipeline)\n**Convert** CSV and PDF files to vectors and store them to a vector database like Supabase ",
        "height": 544,
        "width": 736
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3008,
        -1488
      ],
      "typeVersion": 1,
      "id": "c180560a-746a-4618-a3e2-0906966e438b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "formTitle": "Document Uploader",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload CSV/PDF Files",
              "fieldType": "file",
              "acceptFileTypes": ".csv,.pdf",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -2928,
        -1264
      ],
      "id": "16f584bc-2c84-4c63-aab2-3f8772e29920",
      "name": "On form submission",
      "webhookId": "d3185570-8028-4253-81f8-61c48087c78b"
    },
    {
      "parameters": {
        "content": "# Workflow Overview\n\n## RAG operation\n- Upload your CSV/PDF files with IT helpdesk data to the vector database like Supabase. You can any RAG workflow. The provided RAG workflow uses Supabase vector store.\n\n## Minimum Slack Configuration\n - **Slack App Event Subscriptions**\n   - **Bot Events** subscribed to:\n      - app_mention\n      - message.channels\n      - message.groups (if using private channels)\n\n- **Minimum OAuth and Permissions**\n  - app_mentions:read\n  - channels:history  \n  - channels:read\n  - groups:history    \n  - groups:read\n  - im:history\n  - im:read\n  - mpim:history\n  - mpim:read\n  - users:read\n\n- **Bot Installation and Testing**\n-  In your Slack channel, check if bot is present:\n ```  \n /invite @your-bot-name\n```\n### Test if bot responds to mentions:\n```\n@your-bot-name hello\n```\n\nKey features of the workflow\n\n- Workflow maintains the conversation history\n- Initial conversation starter should use @your-bot-name <message>\n- All other messages replied in the thread does not require @your-bot-name\n- Bot will try to get as much information as possible, and will then create a JIRA ticket\n- Bot will present matching cases and knowledge-based articles before creating the ticket\n\nExamples:\n@helpdesk can you please check the status of my ticket JIRA-5\n\n@helpdesk I lost my laptop and i do not have access to my email. Please help.",
        "height": 1280,
        "width": 496,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3520,
        -1504
      ],
      "typeVersion": 1,
      "id": "4d487420-983b-44de-a770-dbc8326d164b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Main Helpdesk Flow (Slack Integration)\n**Overview**\n-  **Slack Trigger** captures the incoming messages from the Slack\n- **Format output** cleans up the output and creates a clean JSON response\n- **IF** statement checks for **type = app_mention and is_bot = false**\n- Is_bot is required to avoid the Slack message loop issue\n- The second If statement checks for **type = message, is_bot = false, and thread_ts is not empty**\n- **thread_ts** property defines if the message is part of the thread\n- Helpdesk Agent uses an extensive system prompt to act as a helpdesk agent\n- Helpdesk agent uses the MCP client tool to connect to the MCP Server (this has all tools)\n- The workflow has a simple design using MCP\n- Helpdesk Agent uses the **thread_ts** to store previous conversations in memory\n- Change simple memory to a database instead",
        "height": 704,
        "width": 1920
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3008,
        -928
      ],
      "typeVersion": 1,
      "id": "15f6f300-5262-4c5a-9579-0eb788f21a42",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## MCP Server\n- Workflow uses the MCP Server Trigger\n- The MCP Server will receive requests from the MCP client in the Slack helpdesk bot responder workflow\n- The MCP Server uses Supabase and JIRA\n- Supabase will be used to search knowledge based articles in embedded vector database. \n- JIRA create ticket will create a new helpdesk ticket\n- JIRA Search will search existing tickets which match the reported issue\n ",
        "height": 544,
        "width": 1168
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2256,
        -1488
      ],
      "typeVersion": 1,
      "id": "99a73f90-718f-4529-bd3f-c9340b432731",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "path": "heldpesk"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        -1424,
        -1424
      ],
      "id": "8287cf14-7a48-4d54-9d3c-5b0961f1759a",
      "name": "MCP Server Trigger",
      "webhookId": "18bad880-fe92-4122-b469-5b31dacde393"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to retrieve data for the Helpdesk queries and to check if an existing issue, ticket or a knowledge base exist for the problem being reported by the user",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -2048,
        -1136
      ],
      "id": "21e51e84-3f60-4276-8e10-da76f5e6b13b",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "pVNuKXPhuugvSPyq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2208,
        -1184
      ],
      "id": "1f0603a4-ea16-42cf-a8ac-19c9116eaee1",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "PzzLblAykQPFIDZf",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10000",
          "mode": "list",
          "cachedResultName": "Helpdesk"
        },
        "issueType": {
          "__rl": true,
          "value": "10004",
          "mode": "list",
          "cachedResultName": "Service Request"
        },
        "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.jiraTool",
      "typeVersion": 1,
      "position": [
        -1632,
        -1072
      ],
      "id": "972d7b94-7d35-4999-a712-ded5a9cdd6bc",
      "name": "Create Ticket",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "hWrwVbyUcD8HSAYf",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.jiraTool",
      "typeVersion": 1,
      "position": [
        -1760,
        -1072
      ],
      "id": "c405e5d0-3a1b-47f1-916f-6907e732494f",
      "name": "Search",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "hWrwVbyUcD8HSAYf",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "transitions",
        "issueKey": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.jiraTool",
      "typeVersion": 1,
      "position": [
        -1504,
        -1072
      ],
      "id": "63ae0337-0501-44ba-b4e7-d022bbd4e6fd",
      "name": "Get Status",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "hWrwVbyUcD8HSAYf",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://idsingh.app.n8n.cloud/mcp/heldpesk"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -1472,
        -608
      ],
      "id": "867e7434-4578-47af-a274-d8933b466063",
      "name": "helpdesk_tools"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are John D, an expert IT helpdesk assistant working in Slack with access to a comprehensive knowledge base and case history database.\n\n## CRITICAL THREAD AWARENESS RULES:\n- THREAD ID: {{ $json.thread_ts || $json.ts }}\n- If thread_ts exists in the input: This is a CONTINUATION of an existing conversation - DO NOT greet again\n- If no thread_ts: This is a NEW conversation - greet once only\n- NEVER say \"Hi\" or \"Hello\" or introduce yourself in thread continuations\n- Remember: Each thread is ONE continuous support session\n\n## BEFORE RESPONDING - ALWAYS:\n1. **Search Knowledge Base**: Use available MCP tools to search vector database for:\n   - Similar issues from knowledge base articles\n   - Previous case resolutions that match the problem\n   - Step-by-step procedures for the reported issue\n\n2. **Analyze Thread Context**: \n   - Check if thread_ts exists: {{ $json.thread_ts }}\n   - If continuing thread: Reference previous discussion points\n   - Build on what was already established\n\n## MCP VECTOR SEARCH INSTRUCTIONS:\nWhen user reports an issue, IMMEDIATELY search your vector database using available MCP tools:\n- Search for keywords from the user's problem description\n- Look for both knowledge base articles AND historical case resolutions\n- **DO NOT** present knowledge base articles AND historical case resolutions more than 2 times. Automatically create a ticket if the user still engaged.\n- Use specific technical terms and error messages for better matches\n- Present findings as: \"Based on our knowledge base...\" or \"I found similar cases...\"\n- **ALWAYS** ask if the provided information is helpful or to create a helpdesk ticket.\n- If the user ask to create ticket then *DO NOT** search the vector database anymore.\n\n## MCP JIRA SEARCH INSTRUCTIONS:\nAfter the Vector search, IMMEDIATELY search the JIRA for existing tickets\n- Search for keywords from the user's problem description\n- Get a max of 5 tickets which are similar or close to the issue reported \n- Use specific technical terms and error messages for better matches\n- Present findings as: \"Based on existing helpdesk tickets...\" or \"I found similar cases...\"\n\n## RESPONSE PATTERNS:\n\n### NEW CONVERSATION (no thread_ts):\n\"Hi! I'm <your name>, your IT assistant. [Search vector DB] Based on our knowledge base, I can help you with [issue]. To get started: [specific questions]\"\n\n### CONTINUING CONVERSATION (has thread_ts):\n\"[Search vector DB] Thanks for that info. Based on similar cases, let's try: [specific steps]. I found this worked for [reference case TC-####]\"\n\n## DIAGNOSTIC APPROACH:\n1. **Search first**: Always check knowledge base and case history before responding\n2. **Reference findings**: Mention specific KB articles or case numbers when available  \n3. **Ask targeted questions**: Based on what you found in the vector database\n4. **Provide proven solutions**: Reference successful resolutions from case history\n\n## THREAD CONTINUATION EXAMPLES:\n\n❌ WRONG: \"Hi again! How can I help you today?\"\n✅ RIGHT: \"I found a similar case (TC-2024-007) with the same BSOD error. Let's check your RAM first.\"\n\n❌ WRONG: \"Hello! I'm <your name>. What seems to be the problem?\"  \n✅ RIGHT: \"That error code matches our KB article on printer spooler issues. Let's restart the print service.\"\n\n## VECTOR SEARCH STRATEGY:\n- Extract key terms: error messages, software names, hardware models\n- Search patterns: \"[error message]\", \"[software] + problem\", \"[hardware] + troubleshooting\"\n- Reference format: \"According to KB article...\" or \"Case TC-#### had this exact issue...\"\n- Always provide case/article numbers when referencing database findings\n\n## HELPDESK TICKET STRATEGY:\n- Use the MCP client tool to create Helpdesk ticket\n- Clearly send the below information\n - Issue Description = the main issue described by the user\n - Issue details = The conversation history\n  - Username\n- **ALWAYS** provide the ticket number in your response\n- Judge the level of priority from the conversation as assign HIGH, MEDIUM or LOW \n- If unable to judge the priority, check with the user\n- Use **Change Priority** tool to change the priority on the tickets\n- Use the below table to convert the status to JIRA priority ID. **Pass** the ID to the change priority tool\n\nHighest = 1\nHigh = 2\nMedium = 3\nLow = 4\nLowest = 5\n\n## OUTPUT FORMAT:\n1. **Vector search results summary** (if relevant matches found)\n2. **Targeted response** based on search findings\n3. **Specific next steps** from proven solutions\n4. **Follow-up questions** if more info needed\n\n## KEY RULES:\n- NEVER greet in thread continuations (when thread_ts exists)\n- ALWAYS search vector database before responding\n- REFERENCE specific cases or KB articles when available\n- BUILD on previous thread context\n- Use thread_ts {{ $json.thread_ts || $json.ts }} for session tracking\n- **ALWAYS** use professional and empathatic tone\n- ALWAYS check with user for any more help needed onc ethe ticket has been created",
          "returnIntermediateSteps": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -1792,
        -864
      ],
      "id": "9a9c6ceb-9e4b-4190-928d-3a91a69a096c",
      "name": "Helpdesk Agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to change the priority on JIRA ticket to High",
        "operation": "update",
        "issueKey": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}",
        "updateFields": {
          "priority": {
            "__rl": true,
            "mode": "id",
            "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Priority', ``, 'string') }}",
            "__regex": "^([0-9]{1,})"
          }
        }
      },
      "type": "n8n-nodes-base.jiraTool",
      "typeVersion": 1,
      "position": [
        -1376,
        -1072
      ],
      "id": "9cf4f30d-4f93-4ba4-924d-4451e56abbcc",
      "name": "Change Priority",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "hWrwVbyUcD8HSAYf",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "changelog",
        "issueKey": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Issue_Key', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.jiraTool",
      "typeVersion": 1,
      "position": [
        -1248,
        -1072
      ],
      "id": "d089dac5-8ca1-4265-9997-fbac5c8b7e59",
      "name": "changelog",
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "hWrwVbyUcD8HSAYf",
          "name": "Jira SW Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Helpdesk Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Helpdesk Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Helpdesk Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Helpdesk Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Create Ticket": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Status": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "helpdesk_tools": {
      "ai_tool": [
        [
          {
            "node": "Helpdesk Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Helpdesk Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Priority": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "changelog": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "044fcbf8-c362-4b34-99c7-f403f76708f8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c35a703d75886d08705c211ee107a7513430dd05494ec0c569f28570a3768fa"
  },
  "id": "Cxs6nhHKA6YxfS9U",
  "tags": [
    {
      "createdAt": "2025-07-27T06:39:31.509Z",
      "updatedAt": "2025-07-27T06:39:31.509Z",
      "id": "TOmp11D0RTZnlXKe",
      "name": "Creator Hub"
    }
  ]
}